!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to <a href="http://localhost:3000" target = "_blank"><%= image_tag "logo.png" %> </a> </h1>
<p>
  You have successfully signed up to Redcarpet,
</p>
<p>
  To login to the site, just follow this link: <a href="http://localhost:3000" target = "_blank">Redcarpet</a>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
